<mat-card>
    <mat-card-header>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="enteredTitle" >
        </mat-form-field>
    </mat-card-header>
    <mat-card-header>
        <mat-form-field>
            <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
        </mat-form-field>
    </mat-card-header>
    <mat-card-actions>
        <button
            mat-raised-button
            color="accent"
            (click)="onAddPost()">Save Post</button>
    </mat-card-actions>
</mat-card>
